/*--- Button ---*/
.button{
    -fx-cursor: hand;
    -fx-background-color: #A0C878;
}

/*--- Scroll bar ---*/
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 6px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #FFFDF6;
    -fx-background-insets: 0;
    -fx-background-radius: 5;

    /* Ukuran tetap kecil tapi cukup agar radius tampak */
    -fx-min-height: 8px;
    -fx-max-height: 8px;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-opacity: 0;
}

/*--- Table ---*/
.table-view {
    -fx-background-color: #FFFDF6;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #016015;
    -fx-pref-height: 70px;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFDF6;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-padding: 5px 0;
    -fx-background-color: #FFFDF6;
    -fx-border-color: #016015;
    -fx-border-width: 1;
    -fx-cell-size: 40px;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
    -fx-opacity: 0;
}

/*--- ComboBox ---*/
.combo-box {
    -fx-font-size: 24px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: WHITE;
    -fx-text-fill: #016015;
}

.combo-box .list-cell {
    -fx-padding: 0 0 0 20;
}

/*--- Date Picker ---*/
.date-picker {
    -fx-font-size: 24px; /* Atur ukuran font */
    -fx-font-family: "Segoe UI"; /* (Opsional) font family */
    -fx-background-radius: 15;
    -fx-padding: 5;
}

/*--- Label Link ---*/
.labelAsLink {
    -fx-text-fill: #016015;
}

.labelAsLink:hover {
    -fx-text-fill: #4D65FF;
}

/*--- Scroll Pane ---*/
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*--- List View ---*/
.list-view {
    -fx-font-size: 16;
    -fx-background-color: #016015;
    -fx-font-weight: BOLD;
}

.list-view .list-cell {
    -fx-background-color: #A0C878;
}